
Django==5.2.7

# ASGI
asgiref>=3.8.1,<4

# Configuración de base de datos desde URL
dj-database-url>=0.5.0

# Servidor WSGI
gunicorn>=20.1.0

# Zonas horarias
pytz>=2021.3

# SQL parsing para Django
sqlparse>=0.4.2

# Manejo de archivos TOML
toml>=0.10.2

# Servir archivos estáticos en producción
whitenoise>=5.3.0

# Variables de entorno para Django
django-environ>=0.10.0

# Cliente PyMySQL (asegúrate de instalar la versión compatible con Python 3.12)
# mysqlclient>=2.1.0
# cambia a driver PyMySQL , conector para la aplicacion webapp
PyMySQL>=1.1.0

#Libreria para impresion pdf
xhtml2pdf>=0.2.11
